body {
  padding: 30px 50px;
  background-color: #E0D5C6;
}
a{
  color: #000;
}
a:visited {
  color: #f7941e;
}
mark {
  color: #222;
  background: #f7941e;
}
li {
  color: #000;
}
img {
  width: 100%;
}
.container {
  width: 80%;
  color: #000;
  /* background-color: aliceblue; */
  margin: 0 auto;
  border: 1px solid #7C0019;
  padding: 40px;
  border-radius: 20px;
  margin: 60px;
}
#contentWrapper {
  max-width: 430px;

  margin: 0 auto;
}
p {
  font-size: 20px;
  font-weight: 700;
}
b {
  color: #f7941e;
}
h3 {
  text-align: center;
}
.noDot {
  list-style: none;
  padding-top: 300px;
}
