.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    /* position: relative; */
}

main {
    width: 400px;
    aspect-ratio: 9 / 19.5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4em;
    border: 8px solid black;
    position: relative;
}

main > div {
    padding: 0px 16px;
}

main .top-bar {
    padding: 0px;
    position: absolute;
    width: 30%;
    aspect-ratio: 10 / 2.8;
    background-color: black;
    border-radius: 2em;
    top: 0.8em;
    left: 50%;
    transform: translateX(-50%);
}

main .bottom-bar {
    padding: 0px;
    position: absolute;
    width: 40%;
    background-color: black;
    height: 8px;
    border-radius: 1rem;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
}

main > .header {
    padding: 0.75em 1.6em 0.9em 2em;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: 700;
}

main > .header div:first-child {
    display: flex;
    align-items: center;
}

main > .header div:nth-child(2) {
    display: flex;
    align-items: center;
}

main > .header div:nth-child(2) > img {
    width: 1.6em;
}

main > .header div:nth-child(2) > img:nth-child(3) {
    padding-left: 0.4em;
}

.body {
    height: calc(100% - 200.09px); /* toss 41.7px*/
    overflow: scroll;
    position: relative;
}

.toss-body-top {
    padding: 0.5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px;
}

.toss-body-top > img {
    width: 100px;
}

.toss-body-top > div > i {
    font-size: 1.3em;
    color: rgb(150, 150, 150);
    margin-left: 1em;
}

.body .body-banners {
    background-color: white;
    border-radius: 1em;
    padding: 1.3em;
    margin: 0.8em 0em;
}

/* .body-banners:nth-child(1) {
    margin-top: 41.7px;
} */

.body .body-banners > .flex:first-child {
    justify-content: space-between;
}

.body .body-banners .emoji {
    text-align: center;
    font-size: 60px;
    margin: 0.7em 0px;
}

.body .body-banners:nth-child(1) > div:nth-child(3) {
    color: gray;
    text-align: center;
    font-size: 0.8em;
    font-weight: 500;
}

.body .body-banners:nth-child(1) > div:nth-child(3) b {
    color: #4479ca;
}

.body .body-banners:nth-child(1) > div:nth-child(4).flex {
    padding: 1em 0px 0.5em 0px;
    display: flex;
    justify-content: space-between;
}

.body .body-banners:nth-child(1) > div:nth-child(4).flex > .button {
    padding: 0.8em 3.5em;
    border-radius: 1em;
    font-weight: 600;
    cursor: pointer;
}

.body .body-banners:nth-child(1) > div:nth-child(4).flex > .button:first-child {
    color: #3182f7;
    background-color: #e9f3fd;
}
.body
    .body-banners:nth-child(1)
    > div:nth-child(4).flex
    > .button:nth-child(2) {
    color: #e9f3fd;
    background-color: #3182f7;
}

.body .body-banners:nth-child(2) {
    justify-content: space-between;
    font-size: 1.1em;
    font-weight: 600;
}

.body .body-banners:nth-child(3) > i {
    color: #aeb2b8;
    cursor: pointer;
}

.body-banners .bank-info.flex {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.body-banners .bank-info.flex .absolute.circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #2e82fa;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    right: 0%;
}

.body-banners .bank-info.flex .flex.space-between {
    flex-grow: 1;
}

.body-banners .bank-info.flex .flex.space-between p {
    margin: 6px;
    margin-left: 16px;
}
.body-banners .bank-info.flex .flex.space-between p:nth-child(2) {
    font-weight: 600;
}

.body-banners .bank-info.flex .flex.space-between .button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f3f5;
    color: #4d5360;
    padding: 2px 14px;
    margin: 6px 0px;
    font-size: 0.8em;
    border-radius: 0.5em;
    font-weight: 600;
    cursor: pointer;
}

.my-all-points {
    cursor: pointer;
    display: flex;
    border-top: 1px solid #dee3e9;
    color: #727986;
    justify-content: center;
    padding-top: 1em;
}

.fa-cc-paypal.absolute {
    top: 25%;
    left: 25%;
    /* color: #2e82fa; */
}

.footer {
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 5em;
    background-color: white;
    display: flex;
    justify-content: space-around;
    border-radius: 1em 1em 4em 4em;
    color: #727986;
}
.footer .footer-content {
    padding-top: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer .footer-content > p {
    padding-top: 0.4em;
    font-size: 0.8em;
}

.body-banners > .banner-contents {
    color: #727986;
    font-size: 0.9em;
    padding: 0px 1em;
    cursor: pointer;
}

.body-banners > .banner-contents:nth-child(2) {
    border-left: 1px solid #dee3e9;
    border-right: 1px solid #dee3e9;
    padding: 0px 2.5em;
}

.for-byj p {
    color: #727986;
    padding: 0.2em 0em;
}

.for-byj > p:first-child {
    color: #727986;
    font-size: 0.9em;
}

.for-byj > p:nth-child(2) {
    color: black;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 1em;
}
