body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: unset;
    border-radius: unset;

}

p{
    margin: 0;
}

a{
    text-decoration: none;
}

.light-theme a{
    text-decoration: none;
    color: rgb(77, 109, 199);
}

.light-theme nav a{
    color: black
}

.dark-theme a{
    color: rgba(224,241,255,1);
}

.dark-theme nav a{
    color: white;
}

.light-theme a:visited{
    color: rgb(77, 109, 199);
}

.light-theme nav a:visited{
    color: black;
}

.dark-theme a:visited{
    color: rgba(224,241,255,1);
}

.dark-theme nav a:visited{
    color: white;
}

a:hover{
    text-decoration: underline;
}

.light-theme{
    color: black;
}

.dark-theme{
    color: white;
}

.container{
    display: flex;
}

.grid{
    display: grid;
}

.main.container > div{
    padding: 0px 16px;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.sticky{
    position: sticky;
    top: 0%;
}

.bold{
    font-weight: bold;
}

.text-center{
    text-align: center;
}

.bold.text-center + div{
    font-size: 0.75rem;
    position: relative;
    top: -1px;
}

.none{
    display: none;
}
.container.main{
    display: block;
    /* top: 50%;
    left: 50%; */
    flex-grow: 1;
    max-width: 376px;
    aspect-ratio: 9/16;
    /* background-color: black; */
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease;
    /* margin: 0 auto; */
}

.light-theme .container.main{
    background-color: white;
}

.dark-theme .container.main{
    background-color: black;
}
.container.main:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.light-theme #toggle-button{
    background-color: gray;
}

.dark-theme #toggle-button{
    background-color: white;
}

#toggle-button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 50px;
    right: 5vw;
    bottom: 5vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    border-radius: 1em;
    transition: background-color 0.5s ease;

}

.header{
    flex-grow: 1;
    width: calc(100% - 32px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.header.absolute{
    top:0%;
}

.header i{
    cursor: pointer;
}

.header .title{
    font-size: 16px;
    font-weight: bold;
}

.relative .fa-bell{
    left: -200%;
    top: -15%;
}

.body{
    margin-top: 3rem;
    margin-bottom: 4.4rem;
    max-height: calc(100% - 7.4rem);
    overflow: scroll;
}

.body-top{
    display: flex;
    justify-content: space-between;
}

.body-top > .img{
    width: 24%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid rgb(192, 192, 192);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.img > img{
    width :90%;
    max-width: 76px;
    /* padding: 0px 9px; */
}

.body-top > .insta-info{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 1rem;
}

.body-mid{
    margin: 0.75rem 0;;
    font-size: 0.75rem;
}

.body-mid > p{
    padding: .05rem 0px;
    font-weight: 600;
}

.body-mid > p:nth-child(5){
    padding-top: .3rem;
}

.body-mid > p >  b{
    font-weight: 900;
}

.body-mid .container{
    margin-top: 0.5rem;
}

.body-mid .container .followed-by{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.body-mid .container .followed-by > b{
    font-weight: 900;
}

.body-mid .circles{
    width: 20%;
    min-width: 60px;
    height: 26px;
}
.body-mid .circles .circle{
    top: 0%;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    transition: border 0.5s ease-in-out;
}

.light-theme .body-mid .circles .circle{
    border: 2px solid white;
}

.dark-theme .body-mid .circles .circle{
    border: 2px solid black;
}

.circles .circle:nth-child(1){
    left: 0px;
    background-color:brown;
    z-index: 3;
}

.circles .circle:nth-child(2){
    left: 16px;
    background-color:burlywood;
    z-index: 2;
}

.circles .circle:nth-child(3){
    left: 32px;
    background-color:chocolate;
    z-index: 1;
}

.body-mid .container .buttons{
    display: flex;
}

.body-mid .container.buttons div{
    font-size: 0.75rem;
    cursor: pointer;
    border-radius: .3rem;
    background-color: rgb(223, 223, 223);
    margin: 0px .2rem;
    text-align: center;
    padding: 0.4rem 0rem;
    transition: background-color 0.5s ease;
}

.dark-theme .body-mid .container.buttons div{
    background-color: rgb(67, 66, 66);
}

.body-mid .container.buttons div:hover{
    background-color: rgb(189, 189, 189);
}

.body-mid .container.buttons div:nth-child(1){
    flex-grow: 5;
}

.body-mid .container.buttons div:nth-child(2){
    flex-grow: 5;
}

.body-mid .container.buttons div:nth-child(3){
    flex-grow: 1;
}

.highlight:first-child{
    margin-right: 1rem;
}

.highlights .border{
    border: 1.2px solid rgb(97, 97, 97);
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 2px;
    margin-bottom: 0.5rem;
}

.highlights .border .circle{
    height: 3rem;
    width: 3rem;
    padding: 6px;
    border-radius: 50%;
}

.highlight{
    text-align: center;
    font-weight: bold;
}

.highlights .highlight:first-child .border .circle{
    /* margin-right: 1rem; */
    background-color: rgb(39, 39, 39);
    font-family: 'Josefin Sans';
    font-style: italic;
    color: #F6941F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 900;
}

.highlights .highlight:last-child .border .circle{
    background-image: url('./img/story_2.jpeg');
    background-position: 25% 75%;
    object-fit: cover;
    
    
}

.body .sticky{
    background-color: white;
    transition: background-color 0.5s ease-in-out;
}

.dark-theme .body .sticky{
    background-color: black;
}

.body-sticky{
    display: flex;
    margin-bottom: 0.2rem;
}

.body-sticky > a{
    width: 50%;
    text-align: center;
    padding-bottom: 0.25rem;
}

.body-sticky .navigation{
    bottom: -2px;
    width: 50%;
    height: 2px;
    transition: left 0.5s ease;
}

.left-0{
    left: 0%;
}

.left-50{
    left: 50%;
}

.light-theme .body-sticky .navigation{
    background-color: black;
}

.dark-theme .body-sticky .navigation{
    background-color: white;
}

.body-bottom{
    /* overflow: scroll; */
    max-height: 220px;
}

.body-bottom .grid{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;

}

.body-bottom .grid img{
    width: 100%;
    min-width: 76.8px;
}

section .relative .fa-copy.absolute{
    top: 10%;
    right: 10%;
    color: wheat;
}

section .relative .fa-thumbtack.absolute{
    top: 10%;
    right: 10%;
    color: white;
}

.body-bottom .grid > div.tagged-elements{
    aspect-ratio: 1/1;
    font-family: 'Rock 3D';
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-bottom .grid > div.tagged-elements:nth-child(even){
    background-color: #F6941F;
    color: black;
}

.body-bottom .grid > div.tagged-elements:nth-child(odd){
    background-color: black;
    color:#F6941F;
}

.main.container > .footer.container{
    padding: 0px;
    padding-bottom: 2rem;
}
.footer.container{
    bottom: 0%;
    width: 100%;
    height: 2.4rem;
    align-items: center;
    justify-content: space-around;
    transition: background-color 0.5s ease-in-out;
    
}

.footer.container i{
    font-size: 1.2rem;
}

.light-theme .footer.container{
    background-color: white;
}

.dark-theme .footer.container{
    background-color: black;
}

.iphone-bar{
    width: 30%;
    background-color: black;
    height: 4px;
    border-radius: 1rem;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
}

.dark-theme .iphone-bar{
    background-color: white;
}